body{
    background-color: #1A2A33;
}
.headerWrapper{
    width: 460px;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.turnWrapper{
    width: 140px;
    height: 52px;
    background-color: #1F3641;
    border-radius: 10px;
    margin-right: 108px;
    margin-left: 85px;

}

.resetButton{
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: #A8BFC9;
    padding: 0;
    margin: 0;
}

.resetButton:hover{
    background-color: #DBE8ED;
}

.tableWrapper{
    width: 460px;
    height: 461px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    
}

.field{
    height: 140px;
    height: 140px;
    background-color: #1F3641;
    border-radius: 15px;
}

.hover-x:hover{

    background-image: url('../assets/hover-x.svg');
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.hover-o:hover{
    background-image: url('../assets/hover-o.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.resultWrapper{
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 19px;
}

.x-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 140px;
    height: 72px;
    background-color: #31C3BD;
    border-radius: 15px;
    margin: 0;
}

.ties-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 140px;
    height: 72px;
    background-color: #A8BFC9;
    border-radius: 15px;
    margin: 0;
}

.o-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 140px;
    height: 72px;
    background-color: #F2B137;
    border-radius: 15px;
    margin: 0;
}

.p-result{
    font-family: "Outfit", serif;
    font-weight: 900;
    font-size: 14px;
    color: #1A2A33;
    margin: 0;

}

.p-result1{
    font-family: "Outfit", serif;
    font-weight: 900;
    font-size: 24px;
    color: #1A2A33;
    margin: 0;
}

.h2-winner{
    font-family: "Outfit", serif;
    font-weight: 900;
    display: flex;
    color: #A8BFC9;
    gap: 12px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #1F3641;
    width: 100%;
    height: 266px;
    text-align: center;
  }

  .modal-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
   
  .h2-modal{
    font-family: "Outfit", serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 40px;
    letter-spacing: 2.5px;
    color: #31c3bd;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .h2-modal-restart{
    font-family: "Outfit", serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 40px;
    letter-spacing: 2.5px;
    color: #A8BFC9;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .quitButton{
    font-family: "Outfit", serif;
    font-weight: 900;
    width: 76px;
    height: 52px;
    font-size: 16px;
    word-spacing: 1px;
    background-color: #A8BFC9;
    color: #1A2A33;
  }

  .nextButtonModa{
    font-family: "Outfit", serif;
    font-weight: 900;
    width: 146px;
    height: 52px;
    font-size: 16px;
    word-spacing: 1px;
    padding: 0;
    background-color: #F2B137;
    color: #1A2A33;
  }

  .cancelButton{
    font-family: "Outfit", serif;
    font-weight: 900;
    width: 139px;
    height: 52px;
    font-size: 16px;
    word-spacing: 1px;
    padding: 0;
    background-color: #A8BFC9;
    color: #1A2A33;
  }

  .restartButtonModa{
    font-family: "Outfit", serif;
    font-weight: 900;
    width: 151px;
    height: 52px;
    font-size: 16px;
    word-spacing: 1px;
    padding: 0;
    background-color: #F2B137;
    color: #1A2A33;
  }

  .quitButton:hover{
    background-color: #DBE8ED;
  }

  .nextButtonModa{
    background-color: #FFC860;
  }

  .p-modal{
    font-family: "Outfit", serif;
    font-weight: 900;
    color: #A8BFC9;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 400px) {

    .container {
      width: 100%;

    }

    .headerWrapper{
        width: 328px;
        height: 40px;
    }

    .tableWrapper{
        width: 328px;
        height: 328px;
    }

    .field{
        width: 96px;
        height: 96px;
    }

    .FiedImg{
        width: 40px;
        height: 40px;
    }

    .TurnIMG{
        width: 16px;
        height: 16px;
    }

    .hover-x:hover{
        background-size: 40px 40px;
    }

    .hover-o:hover{
        background-size: 40px 40px;
    }

    .resultWrapper{
        width: 328px;
        height: 64px;
    }

    .x-result{
        width: 96px;
        height: 64px;
    }

    .o-result{
        width: 96px;
        height: 64px;
    }   

    .ties-result{
        width: 96px;
        height: 64px;
    }   

    .p-result{
        font-size: 16px;
    }

    .p-result1{
        font-size: 20px;
    }

    .turnWrapper{
        width: 96px;
        height: 40px;
        margin-left: 46px;
        margin-right: 74px;

    }

    .h2-winner{
        width: 96px;
        font-size: 14px;   
        gap: 9px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .resetButton{
        width: 40px;
        height: 40px;
    }

    .resetSvg{
        width: 16px;
        height: 16px;
    }

    .logoSVG{
        width: 71px;
        height: 32px;
    }

    .modal{
        height: 228px;
        width: 100%;
    }

    .h2-modal{
        font-size: 24px;
        gap: 8px;
    }

    .h2-modal-restart{
        font-size: 24px;
    }

    .modalSvg{
        width: 30px;
        height: 30px;
    }

    .nextButtonModa{
        width: 146px;
        height: 52px;
        font-size: 16px;
    }


    .quitButton{
        width: 76px;
        height: 52px;
        font-size: 16px;
    }
    
  }